<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <br>
    <h2>Football Team Information:</h2>
    <br>
    <p>Team Name: {{ football_team.team_name }}</p>
    <br>
    <p>Rankings: {{ football_team.rankings }}</p>
    <br>
    <p>Games:</p>
    <ul>
        {% for game in football_team.games %}
            <li>Date: {{ game.date }}</li>
            <li>Teams: {{ game.teams[0].name }} vs {{ game.teams[1].name }}</li>
        {% endfor %}
    </ul>

    <h2>MLB Team Information:</h2>
    <br>
    <p>Team Name: {{ mlb_team.team_name }}</p>
    <br>
    <p>Rankings: {{ mlb_team.rankings }}</p>
    <br>
    <p>Games:</p>
    <ul>
        {% for game in mlb_team.games %}
            <li>Date: {{ game.date }}</li>
            <li>Teams: {{ game.teams[0].name }} vs {{ game.teams[1].name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
