<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h1>Welcome, {{ username }}!</h1>
        <h2>Football Team Information:</h2>
        <p>Team Name: {{ football_team.team_name }}</p>
        <p>Rankings: {{ football_team.rankings }}</p>
        <p>Games:</p>
        <ul>
            {% for game in football_team.games %}
                <li>Date: {{ game.date }}</li>
                <li>Teams: {{ game.teams[0].name }} vs {{ game.teams[1].name }}</li>
            {% endfor %}
        </ul>

        <h2>MLB Team Information:</h2>
        <p>Team Name: {{ mlb_team.team_name }}</p>
        <p>Rankings: {{ mlb_team.rankings }}</p>
        <p>Games:</p>
        <ul>
            {% for game in mlb_team.games %}
                <li>Date: {{ game.date }}</li>
                <li>Teams: {{ game.teams[0].name }} vs {{ game.teams[1].name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
