<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up:</h1>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <br>
        <label for="football_team">Football Team:</label>
        <input type="text" id="football_team" name="football_team" required><br>
        <br>
        <label for="mlb_team">MLB Team:</label>
        <input type="text" id="mlb_team" name="mlb_team" required><br>
        <br>
        <input type="submit" value="Sign Up">
    </form>
    <br>
    <p>{{ message }}</p>
</body>
</html>
